body {
	width:300px;
	text-align: center;
	font-family: Arial, sans-serif;
}
img {
    float: center;
    width:  280px;
    height: 280px;
    object-fit: cover;
}
button {
	width:  150px;
    height: 30px;
	display:block;
	width:90%;
	margin:5px auto !important;
}
.dropdown{
	width:  150px;
    height: 30px;
	display:block;
	width:90%;
	margin:5px auto !important;

}
.text-entry{
	width:  150px;
    height: 30px;
	display:block;
	width:90%;
	margin:5px auto !important;
}
nav ul{height:200px; width:80%;}
nav ul{overflow:hidden; overflow-y:scroll;}