h2{
    color:orange;
}

body {
	width:180px;
	text-align: center;
	font-family: Arial, sans-serif;
}

button {

	display:block;
	width:90%;
	margin:5px auto !important;
}

.disabled {
	margin-top:-16px;
	color:red;
	height:13px;
	font-size:12px;
}

nav ul{height:200px; width:80%;}
nav ul{overflow:hidden; overflow-y:scroll;}